<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
   <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="artifacts.html">Artifacts</a></li>
   <li><a href="usage.html">USAGE ALL IN ONE PAGE</a></li>

	<li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Usage DROP DOWN<b class="caret"> </b></a>
    <ul class="dropdown-menu">
      <li><a href="user_stories.html">User Stories<img src="external.png" style="text-align: baseline"/></a></li>
	  <li><a href="technical_information.html">Technical Information<img src="external.png" style="text-align: baseline"/></a></li>
	  <li><a target="_blank" href="https://github.com/loidl-consulting/linca-sdk/tree/main">SDK<img src="external.png" style="text-align: baseline"/></a></li>
    </ul>
  </li> 
</ul>